#promo-ground {
    background-image: url('../assets/img/ground.jpg');
    color: #EEF2E6;
    padding: 20px;
}
.footer-section{
    margin-top: auto;
    position: relative;
    background-color: #1C6758;
    color:white;
}
.section{
    align-items: center;
    min-height: 45vh;
    display: flex;
}
.footer-section a {
    text-decoration: none;
    color: white;
}
.foot-left{
    text-align: left;
}.foot-center{
    text-align: center;
    font-size: 24px;
    letter-spacing: 6px;
}.foot-right{
    text-align: right;
}
.foot-center img{
    width: 60px;
    margin-right: 2px;
}
.copyright{
    padding-top:30px;
    padding-bottom:10px;
    text-align: center;
    font-size: 16px;
}
.howtobuy {
  background-color: #eef2e6;
}
.bg-dark-green {
  background-color: #1c6758;
}

@media only screen and (max-width: 600px) {
    .foot-left{
        text-align: center;
        padding-top: 30px;
    }
    .foot-right{
        text-align: center;
        padding-top: 10px;
    }
    .foot-center{
        margin-top: 30px;
        margin-bottom: 30px;
    }
} 